<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{parameters['website_name']}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/utils.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/blogpost.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/mobile.css') }}">
</head>

<body>
    <nav class="navigation max-width-1 m-auto">
        <div class="nav-left">
            <a href="/"><span>{{parameters['website_name']}}</span></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="nav-right font1">
            <form action="/search">
                <input class="form-input" id="searchtxt" type="text" name="query" placeholder="Article Search">
                <button class="btn">Search</button>
            </form>
        </div>
    </nav>
    <script src="script.js"></script>

    <div class="max-width-1 m-auto">
        <hr>
    </div>


    {% block body %} {% endblock %}



    <div class="footer m-auto">
        <div class="Copyright-Line">
            <p>All Copyrights &copy; are reserved <a href="/index.html">weBlog.com</a></p>
        </div>
        <a href="https://www.vecteezy.com/free-vector/marketing">Graphic Vectors by: Vecteezy</a>
    </div>
</body>

</html>